<div data-page="detail" class="page">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">
          <a href="#" class="back link icon-only"><i class="icon icon-back"></i></a>
      </div>
      <div class="center">About</div>
      <div class="right">
          <a href="#" class="open-panel link icon-only"><i class="icon icon-bars"></i></a>
      </div>
    </div>
  </div>
  <div class="page-content detail-page">
    <div class="block-content">
      <p>Framework7 是一个开源免费的框架可以用来开发混合移动应用（原生和HTML混合）或者开发 iOS & Android 风格的WEB APP。也可以用来作为原型开发工具，可以迅速创建一个应用的原型。</p>
      <p>Framework7 最主要的功能是可以使用HTML、CSS和JS来开发iOS7应用。Framework7 是完全免费开源的。</p>
      <p>Framework7 并不能兼容所有的设备。她只专注于为 iOS 和 Google Material 设计提供最好的体验。</p>

      <a href="javascript:;" class="button show-alert">show alert modal</a>
    </div>
  </div>
</div>